{%extends 'base.html'%}
{% load bootstrap3 %}
{% load static %}

{% block content %}
{{block.super}}

<h1 class="text-center">Awwards</h1>
<div class="welcome">
    <p class="text-center">Welcome to Awwards. A place to share your projects with others online and give honest reviews on others projects</p>
</div>
<div class="container">
    <h2 class="text-center">Projects</h2>
    <hr>

    {% for project in projects %}
    <div class="row">

        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="responsive">
                <div class="projct">
                    <a href="{% url 'view_project' project.id %}"><img src="{{project.image.url}}"  class="img-responsive" alt="Image" width="700" height="700"></a>
                    <div class="desc">
                        <h3 class="text-center"><a href="{% url 'view_project' project.id %}"> {{ project.title }} </a></h3>
                        {% autoescape on %}
                        <p>{{project.description}}</p>
                        {% endautoescape %}
                            
                        <p>Project by: {{project.owner.username}}</p>               
                        
                    </div>
                </div>
            </div>
        <div class="col-md-3"></div>
        </div>
    
    </div>
    {% endfor %}

</div>
{% endblock %}