{%extends 'base.html'%}
{% load bootstrap3 %}

{% block content %}
{{block.super}}

<div class="container">
    <div class="row">
        {% if projects %}
        <h3 class="text-center">Found {{ projects|length }} result on {{message}}</h3>
        <div class="container">
            <hr />
        </div>
        {% else %}
        <h3 class="text-center">We couldn't find any project of that name, kindly search again</h3>
        {% endif %}
    </div>

    {% for project in projects %}
    <div class="row">
        
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="responsive">
                <div class="projct">
                    <a href="#"><img src="{{project.image.url}}"  class="img-responsive" alt="Image" width="700" height="700"></a>
                    <div class="desc">
                        <h3 class="text-center"><a href="#"> {{ project.title }} </a></h3>
                        {% autoescape on %}
                        <p>{{project.description}}</p>
                        {% endautoescape %}
                        <p><a href='{{project.link}}'>Go to site</a></p>    
                        <p>Project by: {{project.owner.username}}</p>               
                        <p>Posted on: {{project.pub_date}}</p>
                    </div>
                </div>
            </div>
        <div class="col-md-3"></div>
        </div>
    
    </div>
    {% endfor %}

{% endblock %}